Django>=5.2.6
langchain>=0.3.27
langchain-ollama>=0.3.7
langchain-openai>=0.3.33
langchain-chroma>=0.2.5
langchain-huggingface>=0.3.1
langchain-text-splitters>=0.3.11
openai>=1.107.2
ollama>=0.5.3
chromadb>=1.0.20
langgraph>=0.6.7
python-dotenv>=1.1.1
unstructured[pdf]
pypdf>=6.0.0
pymupdf~=1.26.4
langchain-community>=0.3.29
supabase>=2.18.1
huggingface_hub>=0.35.0
